steps/sfn.asl.json
{
  "Comment": "Evidence Label Processing Workflow",
  "StartAt": "CheckInput",
  "States": {
    "CheckInput": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "helloWorld",
          "Next": "ProcessHelloWorld"
        },
        {
          "Variable": "$.type",
          "StringEquals": "goodMorning",
          "Next": "ProcessGoodMorning"
        }
      ]
    },
    "ProcessHelloWorld": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${HelloWorldFunctionArn}",
        "Payload.$": "$"
      },
      "TimeoutSeconds": 300,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError"
        }
      ],
      "End": true
    },
    "ProcessGoodMorning": {
      "Type": "Task",

      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GoodMorningFunctionArn}",
        "Payload.$": "$"
      },
      "TimeoutSeconds": 300,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError"
        }
      ],
      "End": true
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${HelloWorldFunctionArn}",
        "Payload.$": "$"
      },
      "End": true
    }
  }
}
